body {
    background-color: rgb(189, 87, 87);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 15%;
    border: 5px solid white;
    box-shadow: 3px 1px rgb(48, 48, 47);
    text-align: center;
}

img {
    margin-bottom: 40px;
}

h2 {
    font-size: xx-large;
}

button {
    height: 50px;
    width: 60%;
    align-self: center;
    background-color: rgb(234, 12, 12);
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color: white;
    
}

.click-amount {
    font-size: x-large;
    font-weight: bold;
}